version: '3.8'
services:
  nest-api:
    container_name: nest-api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    depends_on:
      - postgres
    environment:
      - DATABASE_URL=postgres://postgre:postgre@postgres:5432/postgre
      - JWT_SECRET=1HFWKHJHHWKJjh23-23rjhwbkfwk-12bbkwFHKJJKAHFjfj

  postgres:
    image: postgres:13
    container_name: postgres
    restart: always
    environment:
      - DATABASE_URL=postgres://postgre:postgre@postgres:5432/postgre
    ports:
      - 5432:5432
    volumes:
      - postgres:/var/lib/postgresql/data

volumes:
  postgres:
    name: nest-db